# Python
__pycache__/
*.py[cod]
venv/
env/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Sensitive
*.key
*.pem
credentials.json
*.session
*.session-journal

# DBs / Large Data Files
DBs/hi-tek/*.csv
DBs/hi-tek/*.db

# Local Dev Scripts
start_servers.py

backend/.env
frontend/node_modules/
